body{
    background-color: beige;
    text-align: center;
}

h1{
    color: maroon;
}

h2{
    color: darkmagenta;
}

section{
    box-sizing: border-box;
    border: 10px solid black;
    padding: 50px;
    margin: 50px;
    width: 300px;
    height: 200px;
}

.about{
    background-color: lightblue;
}

.projects{
    background-color: lightgreen;
}

#skills{
    background-color: lightyellow;
}

main {
    display: flex;
    flex-direction: row;
}
